/* 댓글/포스트 신고하기 */
.rep_pos_pop{
    margin-left: 30%;
}

/* 작성자, 내용 */
.writer_content{
    margin-left: 20px;
    font-size: 18px;
}

/*사유 선택*/
.select_reason{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
    margin-left: 20px;
}

/* 사유 내용 감싸는 박스 */
.reason_detail{
    
    width: 535px;
    border-radius: 10px;
    border: 1px solid;
    border-color: lightgray;
}

/* 버튼/내용 감싸는 박스 */
.check_area{
    border-bottom: 1px solid lightgray;
    height: 50px;
    display: flex;
    align-items: center;
}

/* 사유 내용 마지막(불쾌한 표현이 있습니다.) */
.check_area_last{
    height: 50px;
    display: flex;
    align-items: center;
}

/* 라디오버튼 */
.report_reason{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/* 사유 내용 */
.reason_content{        
    margin-left: 30px;
    font-size: 18px;
}


/* 세부내용 작성 */
.detail_content{
    margin-top: 5px;
    margin-left: 44px;
    align-items: flex-end;
    width: 535px;
    height: 120px;
    border: 1px solid;
    border-color: lightgray;
}




/* -------------------------------------------- */
