.rep_pos_pop{
    margin-left: 30%;
}

.writer_content{
    margin-left: 20px;
}

.select_reason{
    font-size: 24px;
    font-weight: bolder;
    margin-left: 20px;
}


.modal_container{
    
    background-color: lightgray;
    border: 30px;
}

